@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: Roboto;
}

header {
    width: 100%;
    height: 75px;
    color: whitesmoke;
    position: fixed;
    background: rgb(250, 250, 250);
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 8px 1px 10px rgba(0,0,0,0.4);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: left;
}

.logo {
    float: left;
    line-height: 75px;
    font-size: 1.5rem;
    color: black;
    cursor: default;
    margin-left: 15px;
}

.menu {
    margin-left: 20px;
    float: left;
    line-height: 75px;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color:black
}

a:visited {
    text-decoration: none;
    color: black;
}

a:focus {
    border-bottom: 1px solid;
    background: #dddddd;
}

a:hover {
    border-bottom: 1px solid;
    background: #dddddd;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    border-bottom: solid 1px;
}

span {
    font-size: 1.7rem;
}

h2 {
    background-image: linear-gradient(rgb(250, 250, 250), rgb(243, 243, 243));
    text-align: center;
}

.info {
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
}

.info p {
    border: solid 1px #000;
    border-radius: 2px;
    padding: 10px;
    display: block;
}

.table-gob {
    margin: auto;
    text-align: center;
    padding: 20px;
    border: solid 1px black;
    border-radius: 2px;
}

.table-gob th {
    border-bottom: solid 1px lightgrey;
}

.table-gob td {
    padding: 10px;
    border-bottom: solid 1px lightgrey;
}
